In [1]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler
import pandas as pd
import numpy as np

In [2]:
def preprocess(df):
    df = df.fillna(0)
    df = df.drop(columns = ["Name", "Ticket", "Cabin", "PassengerId"])
    df = pd.get_dummies(df, drop_first = False)
    
    try:
        df = df.drop(columns = ["Embarked_0"])
    except:
        pass
        
    return df

In [3]:
train_dir = "train.csv"
test_dir = "test.csv"



train_df = pd.read_csv(train_dir)
display(train_df.head())

train_df = preprocess(train_df)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
y_train = train_df["Survived"]
X_train = train_df.drop(columns = ["Survived"])




display(X_train.head())
display(y_train.head())

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,3,22.0,1,0,7.2500,0,1,0,0,1
1,1,38.0,1,0,71.2833,1,0,1,0,0
2,3,26.0,0,0,7.9250,1,0,0,0,1
3,1,35.0,1,0,53.1000,1,0,0,0,1
4,3,35.0,0,0,8.0500,0,1,0,0,1

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [5]:
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

/home/aydin/anaconda3/envs/tensorflow2/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [6]:
logreg.score(X_train, y_train)

0.7991021324354658

In [14]:
X_test = pd.read_csv(test_dir)

X_test = preprocess(X_test)

submit = []



for index, row in X_test.iterrows():
    x = index + 892
    y = (logreg.predict(row.to_numpy().reshape(1, -1))[0])
    submit.append([x, y])

submit = pd.DataFrame(submit, columns = ["PassengerId", "Survived"])

In [15]:
print(submit.head())

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

In [16]:
submit.to_csv("out.csv", index = False)